@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-main: #333333;
    --color-pri: #2B67F6;
    --color-sec: #6B6F7B;
    --color-green: #27AE60;
    --color-red: #EB5757;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

header {
    box-shadow: 0px 3px 23px -12px rgba(0, 0, 0, 0.75);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
}

.nav-bar a {
    text-decoration: none;
    font-size: 44px;
    font-weight: 700;
    color: #2B67F6;
}

.nav-bar a span {
    font-size: 44px;
    font-weight: 400;
    color: var(--color-sec);
}

.search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 464px;
    height: 60px;
    background-color: #F4F7FF;
    padding: 12px 16px;
    border-radius: 10px;
}

.search-input div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--color-pri);
}

#search {
    width: 400px;
    height: 55px;
    border: none;
    background-color: #F4F7FF;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-sec);
}

#search:focus {
    outline: none;
}

.icon {
    width: 18px;
    height: 18px;
    margin-top: 9px;
    margin-left: 9px;
    stroke: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 85vh;
}

.list-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
}

.list-header-text h2 {
    font-size: 28px;
    font-weight: 500;
    color: var(--color-main);
}

.list-header-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.list-header-selector p {
    font-size: 20px;
    color: var(--color-main);
    font-weight: 400;
}

.switch {
    width: 50px;
    height: 30px;
    background-color: var(--color-pri);
    border-radius: 24px;
}

.switch div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px 0 5px 24px;

}

.map img {
    width: 492px;
    height: 434px;
    border-radius: 20px;
}

.result {
    margin-bottom: 25px;
}

.result p {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-sec);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-by {
    display: flex;
    gap: 15px;
}

.filter-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border: 1px solid var(--color-sec);
    padding: 10px 16px;
    border-radius: 8px;
}

.filter-item p {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-sec);
}

.filter-icon {
    width: 18px;
    height: 18px;
    stroke: var(--color-sec);
}

.sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.grid {
    width: 10px;
    height: 10px;
    background-color: var(--color-main);
}

/* .list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list div{
    width: 5px;
    height: 5px;
    background-color: var(--color-pri);
}
.list span{
    width: 15px;
    height: 5px;
    background-color: var(--color-pri);
    margin-left: 4px;
} */
.sort-by {
    font-weight: 400;
    font-size: 24px;
}

.sort-by span {
    font-weight: 700;
    color: var(--color-pri);
}

.card-item {
    padding: 29px 33px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
    /* background-color: #fff; */
    border-radius: 20px;
}

.card-text {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-main);
}

.location {
    display: flex;
}

.card-item-logo {
    width: 12px;
    height: 16px;
    stroke: var(--color-main);
}

.location p {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-main);
}

.feature p {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-main);
}


.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating h3 {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-main);
}

.rating-icon {
    width: 20px;
    height: 20px;
    fill: var(--color-pri);
}

.rating-icon:nth-of-type(5) {
    fill: rgba(43, 103, 246, 0.16);
}

.rating p {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-main);
}

@media(max-width:48rem) {
    .nav-bar {
        flex-direction: column;
        gap: 20px;
    }

    .search-input {
        width: 300px;
        height: 40px;
    }

    #search {
        width: 250px;
        height: 35px;
    }

    .search-input div {
        width: 30px;
        height: 30px;
    }

    .icon {
        width: 15px;
        height: 15px;
        margin-top: 7px;
        margin-left: 7px;
    }

    .container {
        flex-direction: column;
    }

    .list-header {
        gap: 50px;
    }

    .list-header-text h2 {
        font-size: 20px;
    }

    .list-header-selector p {
        font-size: 16px;
    }

    .switch {
        width: 40px;
        height: 20px;
        border-radius: 20px;
    }

    .switch div {
        width: 15px;
        height: 15px;
        margin: 2px 0 2px 22px;
    }

    .filter-by {
        justify-content: space-between;
        gap: 5px;
        flex-direction: column;
    }

    .filter-item p {
        font-size: 14px;
    }

    .filter-item {
        gap: 5px;
        border: 1px solid var(--color-sec);
        padding: 8px 12px;
        border-radius: 8px;
    }

    .map {
        display: none;
    }
}